doctype html
html
  head
    title #{song.title}
    link(rel="stylesheet", href="/styles/styles.css")
  body
    h1 #{song.title}
    p AUTORE: #{song.author}
    p TESTO: #{song.lyrics}
    img(src=`/images/${song.thumbnail}`, alt=song.title)
    a(href="/") Back to Menu